@page "/room"
@using Microsoft.AspNetCore.SignalR.Client
@using BlazorServer.Data;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@inject NavigationManager NavManager
@inject ProtectedSessionStorage ProtectedSessionStore
@implements IAsyncDisposable

<PageTitle>Room</PageTitle>

<div class="form-group">
    <label>
        User: <input @bind="userInput" />
    </label>
</div>
<div class="form-group">
    <label>
        Message: <input @bind="messageInput" />
    </label>
</div>

<button @onclick="Send" disabled="@(IsConnected == false)">Send</button>

<hr />

<ul>
    @foreach (string message in messages)
    {
        <li>@message</li>
    }
</ul>

@code {
    private HubConnection? hubConnection;
    private List<string> messages = new();
    private string? userInput;
    private string? messageInput;
    private string? token;

    protected override async Task OnInitializedAsync()
    {
        var result = await ProtectedSessionStore.GetAsync<string>("jwtToken");
        token = result.Success ? result.Value : "";

        if (string.IsNullOrEmpty(token))
        {
            await ProtectedSessionStore.SetAsync("warningMessage",
                "Only authenticated users can use chat.");

            NavManager.NavigateTo("/login");

            return;
        }

        hubConnection = new HubConnectionBuilder()
            .WithUrl("https://localhost:7027/chathub", options =>
            {
                options.AccessTokenProvider = () => Task.FromResult(token);
            })
            .WithAutomaticReconnect()
            .Build();

        hubConnection.On<MessageDto>("ReceiveMessage", (message) =>
        {
            messages.Add($"{message.Username}: {message.Content}");
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage",
                new MessageDto
                {
                    RoomId = 2003,
                    Username = userInput,
                    Content = messageInput
                });
        }
    }

    public bool IsConnected => hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}